:root {
  --background-color: #100D1D;
  --primary-color: #1E213A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
}
